app/_test/suite/ext.ows.service/data/response_xml/wfs_DescribeFeatureType_wfs1.xml

<xsd:schema xmlns:gws="http://gws.gbd-consult.de" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://gws.gbd-consult.de">
    <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <xsd:complexType name="paris_3857Type">
        <xsd:complexContent>
            <xsd:extension base="gml:AbstractFeatureType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" nillable="true" name="id" type="xsd:integer"/>
                    <xsd:element maxOccurs="1" minOccurs="0" nillable="true" name="p_str" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" nillable="true" name="p_int" type="xsd:integer"/>
                    <xsd:element maxOccurs="1" minOccurs="0" nillable="true" name="p_date" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="0" nillable="true" name="geometry" type="gml:PointPropertyType"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="gws:paris_3857" substitutionGroup="gml:Feature" type="gws:paris_3857Type"/>
    <xsd:complexType name="dus_25832Type">
        <xsd:complexContent>
            <xsd:extension base="gml:AbstractFeatureType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" nillable="true" name="id" type="xsd:integer"/>
                    <xsd:element maxOccurs="1" minOccurs="0" nillable="true" name="p_str" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" nillable="true" name="p_int" type="xsd:integer"/>
                    <xsd:element maxOccurs="1" minOccurs="0" nillable="true" name="p_date" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="0" nillable="true" name="geometry" type="gml:SurfacePropertyType"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="gws:dus_25832" substitutionGroup="gml:Feature" type="gws:dus_25832Type"/>
</xsd:schema>
